{% extends 'layout/mybase.html' %}
{% load timesincefilter %}
{% block title %} KanoteX | Return Error List {% endblock %}
{% block content %}
<div class="row">
{% for e in object_list %}
  <div class="col-sm-6">
    <div class="card rounded-5">
      <div class="card-header">
        <h5>{{ e.purchase_shop }}</h5>
        <h6 class="{% if e.purchase_date|months_since >= e.product.product_warranty %} text-c-red {% else %} text-c-green {% endif %}">{{ e.purchase_date|timesince }} ago</h6>
      </div>
      <div class="card-block">
        <h5 class="card-title"> {{ e.product.product_name }}</h5>
        <p class="label"> Accessories: <span><b> {{ e.accessories }}</b></span></p>
        <p class="label"> Damage: <span><b> {{ e.physical_dmg }}</b></span></p>
        <p class="label"> Reason: <span><b> {{ e.reason }}</b></span></p>
      </div>
      <div class="card-footer">
        <p class="text-muted"> {{ e.received_date|timesince }}</p>
        {% if request.user.is_authenticated %}
          {% if request.user.dept_id == 1 and request.user.position_id == 1 %}
          <a href="{% url 'finding' e.id %}" class="btn btn-primary rounded-pill">check & service</a>
          {% elif request.user.is_superuser %}
            {% if e.is_checked %}
          <a href="{% url 'get_approve' e.id %}" class="theme-bg"> confirm </a>
          <a href="{% url 'finding' e.id %}" class="theme-bg"> view </a>
            {% else %}
          <a href="{% url 'get_approve' e.id %}" class="theme-bg"> confirm </a>
          <a href="{% url 'finding' e.id %}" class="theme-bg disabled"> view </a>
            {% endif %}
          {% elif request.user.dept_id == 3 %}
            {% if e.servicing.is_done %}
            <a href="{% url 'edit_service_form' e.pk %}" class="btn btn-primary disabled me-2 rounded-pill"> Edit </a>
            <a href="{% url 'edit_service_form' e.pk %}" class="btn btn-primary  rounded-pill"> Received </a>
            {% elif e.servicing.is_checked %}
            <a href="{% url 'edit_service_form' e.pk %}" class="btn btn-primary  disabled rounded-pill"> Received </a>
            {% else %}
            <a href="{% url 'edit_service_form' e.pk %}" class="btn btn-primary rounded-pill me-2"> Edit </a>
            <a href="{% url 'edit_service_form' e.pk %}" class="btn btn-primary disabled rounded-pill"> Received </a>
            {% endif %}
          {% endif %}
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
