{% extends 'layout/main_base.html' %}
{% block head %}
 {% include 'components/head.html' %}
<title>Kanote | Login</title>
</head>
{% endblock %}
{% block main %}
{% block content %}
<section class="container p-5" style="background: {# url 'login_background.jpg' #}">
  <div class="d-flex text-center justify-content-center inline-items-center">
    <div class="card shadow-sm rounded-5" style="width: 25rem;">
      <div class="card-header rounded-top-5 py-4 shadow" style="background: #a032a8;">
        <h4 class="text-light"> KanoteX Employees </h4>
      </div>
      <form method="POST" class="card-body" >
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.username }}
            <label for="userName" class="px-4">username</label>
          </div>
        <div class="form-floating mb-3">
            {{ form.password }}
            <label class="px-4" for="id_password">password</label>
          </div>
        <div class="py-3 d-flex inline-items-end">
          <input type="submit" class="btn btn-primary rounded-pill offset-md-8 shadow-sm" value="Login" style="width: 12rem; height: 3rem; background: #">
        </div>
      </form>
    </div>
  </div>
</section>
  <form>
  </form>
{% endblock %}
{% endblock %}